@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: 'Sriracha', cursive; 
    --fonte-alternativa: 'Passion One', cursive;
}