@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: 'Sriracha', cursive; 
    --fonte-alternativa: 'Passion One', cursive;
    --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: var(--fonte-padrao);
    font-size: 3em;
}

body p {
    line-height: 2em;
 
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header h1{
    font-family: var(--fonte-alternativa);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bold;
}

header > p {
    font-family: var(--fonte3);
    font-size: 16px;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.imagem {
    background-color: black;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: black;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;

}

#joaninha {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    

}

section#cartas {
    background-image: url('imagens/background002.jpg');

    
}

section#cartas p {
    box-shadow: rgba(0, 0, 0, 0.14);

    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte3);
    font-size: 15px;
    padding: 10px;
}

